#===============================================================================
# Lexa - Property of William Norman-Walker
#-------------------------------------------------------------------------------
# server.config
#-------------------------------------------------------------------------------
# simple config for a simple test server.
# this mirrors the internal echo server from lxServer.jar test.
#-------------------------------------------------------------------------------
# Author:  William Norman-Walker
# Created: August 2013
#-------------------------------------------------------------------------------
# Change Log
# Date:        By: Ref:        Description:
# ----------   --- ----------  -------------------------------------------------
# -            -   -           -
#===============================================================================
#logFile log/test.server.log
name test.host
server {
    port % 31066
    localHostOnly ? true
}
broker {
    name hostEchoTest
    serviceList {
        echoService {
            processList {
                echo {
                    loader - lexa.core.server.factory.InternalLoader
					class - Echo
                    maxProcesses % 1
                }
            }
        }
    }
    logging {
        * {
            * ? true
    #        DEBUG ? false
        }
    }
}
